@mixin flex-center($direction: row){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin flex($direction: row, $align: center, $justify: center){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

