@import '../../../sass/base';

.mainSection {
    display: flex;
    height: 70vh;
    margin: 0 0 5em 0;

    .title{
        padding: 0 0 0 7em;
        width: 40%;

        h1{
            font-weight: bolder;
            font-size: 4em;
            margin: 2em 0 0 0;
        }
    }

    .img {
        @include flex-center();
        padding: 0 7em 0 0;
        width: 80%;

        img{
            width: 75%;
            height: 100%;
        }
    }
}

// @media screen and(max-width: 500px) {
//     section {
//         display: inherit;
//         .title, .img{ width: 100%; }
//     }
// }