@import '../../sass/base';

footer{
  @include flex(row, center, space-between);
  padding: $default-padding;

  .column {
    @include flex(column, flex-start, flex-start);
    height: 200px;

    h1 { margin: 0 0 1em 0;}
    a{
      text-decoration: none;
      color: #000;

      &:hover {
        cursor: pointer;
      }
    }
    
    
    
  }
}