@import '../../../sass/base';

.cards {
    display: flex;
    justify-content: space-between;
    padding: $default-padding;

}

.titles{
    text-align: center;
    h3 { 
        color: #ff0000;
        letter-spacing: 4px;
        font-weight: 600;
    }
    h2{font-size: 3.5em;}
}