@import './sass/variables';

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
}

::-webkit-scrollbar { 
  width: .5em;
  height: .5em; 
}

::-webkit-scrollbar-thumb {
  background: $button-color;
  border-radius: 10px;
}